name: Django CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: ['3.11']

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Run Linting
      run: |
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
    # - name: Run Tests
    #   run: |
    #     # Descomente a linha abaixo quando os testes forem implementados
    #     # python manage.py test
    # - name: Check Migrations
    #   run: |
    #     # Descomente a linha abaixo quando o projeto Django estiver configurado
    #     # python manage.py makemigrations --check --dry-run
